<%= form_for(@customer) do |f| %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :address, "Apartment #,street,city,state,zip-code" %><br>
    <%= f.text_field :address, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :phone, "Phone number" %><br>
    <%= f.text_field :phone, class: "form-control" %></div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
