<p id="notice"><%= notice %></p>

<div class="center">

  <div class="info">
    <p><strong>name:</strong> <%= @meal.name %></p>

    <% current_user.admin || current_user.meals.include?(@meal) %>
      <%= link_to 'Edit Meal', [:edit, @meal] %></p>
  <p><%= link_to 'Add order', new_meal_order_path(@meal) %></p>
  </div>
  <p><%= link_to 'listing order', meal_orders_path(@meal) %></p>