<p id="notice"><%= notice %></p>

<div class="center">

  <div class="info">
    <p><strong>description:</strong> <%= @order.description %></p>
    <% if current_user.admin %>
      <%= link_to 'Edit Order', [:edit, @order] %></p>
    <% else %> 
      <%= form_for @order do |f| %>
        <%= f.hidden_field :user_id %><br />
        <%= f.hidden_field :customer_id %><br />
        <%= f.submit "Go to this order", class:"btn btn-light" %>
      <% end %>
    <% end %>
  </div>

</div>
