<div class="container"

<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>All:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
      <td><%= order.id %>.</td>
      <td><%= link_to(order.meal.name,order)%></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
      <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1 class='subtitle'>Ajax Order</h1>

  <button id="orders-data">Get Orders</button>
  <div id="ajax-orders"></div>

 